{% extends 'FFNMonBundle::layout.html.twig' %}

{% set section = 'project_add' %}

{% block body %}
<div class="container main_page top_50">

  <div class="container">
    {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  </div>

  <form class="form-signin" action="{{ path("mon_project_add") }}" method="post">
    <h2 class="form-signin-heading">{{ 'mon_project_create'|trans({}, 'messages') }}</h2>
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <button class="btn btn-large btn-primary" type="submit">{{ 'mon_validate'|trans({}, 'messages') }}</button>
    {{ form_rest(form) }}
  </form>

</div> <!-- /container -->
{% endblock %}