{% extends 'FFNMonBundle::layout.html.twig' %}

{% block metarefresh %}
  <meta http-equiv="refresh" content="1800; url={{ path('mon_graph_simple', { 'control_id': id }) }}">
{% endblock %}

{% block body %}

  <div class="container">
    {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  </div>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  
  {% include 'FFNMonBundle:Page:Control/googleGraph.html.twig' %}
  
  {# Data table #}
  <div class="container">
    <div class="row-fluid">
      <table id="capstable" class="table tablesorter">
        <caption><h2>{{ 'mon_graph_detail' | trans }}</h2></caption>
        <thead>
          <tr>
            <th class="header headerSortDown">{{ 'mon_graph_execution_date' | trans }}</th>
            <th class="header">{{ 'mon_graph_dns_resolution' | trans }}</th>
            <th class="header">{{ 'mon_graph_tcp_connection' | trans }}</th>
            <th class="header">{{ 'mon_graph_first_packet'   | trans }}</th>
            <th class="header">{{ 'mon_graph_total_time'     | trans }}</th>
            <th class="header">{{ 'mon_graph_valid'          | trans }}</th>
            <th class="header">{{ 'mon_graph_timeout'        | trans }}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in graphdata %}
            {% if ((row.isValid == true) and (row.isTimeout == false)) %}
              {% set classType = 'success' %}
            {% else %}
              {% set classType = 'error' %}
            {% endif %}
        
            <tr title="{{ 'mon_click_to_see_capture_details' | trans }}" class="{{ classType }}" style= "cursor: pointer;" onClick="javascript: window.location = '{{ path('mon_capture_show', { 'id': capture.id }) }}';">
              <td>{{ row.dateExecuted | date('d/m/Y H:i:s', timezone)}}</td>
              <td>{{ row.dns }}</td>
              <td>{{ row.tcp }}</td>
              <td>{{ row.firstPacket }}</td>
              <td>{{ row.total }}</td>
              <td>{% if (row.isValid == true) %}Yes{% else %}No{% endif %}</td>
              <td>{% if (row.isTimeout == true) %}Yes{% else %}No{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="pager" class="pagination-centered">
    <form>  
		<img src="{{ asset('bundles/ffnmon/images/first.png') }}" class="first" title="{{ 'pager_first' | trans }}">
		<img src="{{ asset('bundles/ffnmon/images/prev.png') }}" class="prev" title="{{ 'pager_prev' | trans }}">
		<input class="pagedisplay" type="text">
		<img src="{{ asset('bundles/ffnmon/images/next.png') }}" class="next" title="{{ 'pager_next' | trans }}">
		<img src="{{ asset('bundles/ffnmon/images/last.png') }}" class="last" title="{{ 'pager_last' | trans }}">
        <br>
        {{ 'pager_max_elts' | trans }} :
        <br>
        <select class="pagesize">
			<option selected="selected" value="10">10</option>
			<option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
		</select>
	</form>
    </div>
  </div>
  {# end Data table #}

{% endblock %}
  
{% block javascripts %}
  {{ parent() }}
  <script  type="text/javascript">
    $(document).ready(sortAndPageTable('capstable','pager'));
  </script>
{% endblock %}