{% extends 'FFNMonBundle::layout.html.twig' %}

{% set section = 'home' %}
{% set nb_project = projects|length %}

{% block body %}

<div class="container">
  {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  <div class="row">
    {% if app.session.hasFlash('success_msg') %}
      <div class="alert alert-success">
        {{ app.session.flash('success_msg') }}
      </div>
    {% endif %}
    {% if app.session.hasFlash('error_msg') %}
      <div class="alert alert-error">
        {{ app.session.flash('error_msg') }}
      </div>
    {% endif %}
  </div>
  <div>
    <h1><small>{{ 'mon_project_my_projects' | trans({}, 'messages') | raw }}</small></h1>
  </div>
  <div class="row-fluid">
    <div class="span12 pagination-centered blue-outline" >
        <b>&plus;</b>
        <a class="btn" href="{{ path("mon_project_add")}}">{{ 'mon_project_create' | trans({}, 'messages') | raw }}</a>
    </div>
  </div>
</div> <!-- /container -->

{% if nb_project > 0 %}
  <div class="container">
    {% set nb_current_line = 0 %}
    {% for project in projects %}
      <!-- to reduce displayed description length if necessary -->
      {% set project_description_length = project.description|length %}
      {% if (project_description_length > max_project_description_length) %}
        {% set project_description = project.description|slice(0,max_project_description_length-4)~' ...' %}
      {% else %}
        {% set project_description = project.description %}
      {% endif %}
      {% if (nb_current_line % 3) == 0 %}
        <div class="row-fluid"> <!-- ligne de 3 projets -->
      {% endif %}
      {% set nb_current_line = nb_current_line + 1 %}
      {% set nb_scenarios = project.scenarios|length %}
          <div class="span4 blue-outline projectdiv">
            <div class="pagination-centered">
              <h3>{{project.name}}</h2>
              <p title="{{ project.description }}">{{ project_description }}</p>
            </div>
            <div class="pagination-centered"><!-- meteo globale -->
              {% if projects_weather[project.id][0] is null %}
                <span class="imgUnknown"></span>
              {% elseif projects_weather[project.id][0].weatherState == 1 %}
                <span class="imgStorm"></span>
              {% elseif projects_weather[project.id][0].weatherState == 2 %}
                <span class="imgRain"></span>
              {% elseif projects_weather[project.id][0].weatherState == 3 %}
                <span class="imgCloud"></span>
              {% elseif projects_weather[project.id][0].weatherState == 4 %}
                <span class="imgSun"></span>
              {% elseif projects_weather[project.id][0].weatherState == 5 %}
                <span class="imgUnknown"></span>
              {% endif %}
            </div>
            <div class="pagination-centered">
              <a class="btn" href="{{path('mon_project_home', { 'id': project.id })}}">{{ 'mon_view_details' | trans({}, 'messages') | raw }}</a>
              <a class="btn" href="{{path('mon_project_edit', { 'id': project.id })}}">{{ 'mon_project_edit' | trans({}, 'messages') | raw }}</a>
            </div>
            <br/>
            {% if nb_scenarios > 0 %}
              {% set count = 0 %}
              {% for scenario in project.scenarios %}
                {% if (count < nb_max_list) %}
                  <!-- to reduce displayed name length if necessary -->
                  {% set scenario_name_length = scenario.name|length %}
                  {% if (scenario_name_length > max_scenario_name_list_length) %}
                    {% set scenario_name = scenario.name|slice(0,max_scenario_name_list_length-4)~' ...' %}
                  {% else %}
                    {% set scenario_name = scenario.name %}
                  {% endif %}
                  {% set count = count + 1 %}
                  <div class="inline">
                    <table>
                      <tr>
                        <td>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="{{ path('mon_scenario_home', { 'id': scenario.id }) }}" title='{{ scenario.name }}'>
                            {% if projects_weather[project.id][1][scenario.id] is null %}
                              <span class="icoUnknown"></span>
                            {% elseif projects_weather[project.id][1][scenario.id].weatherState == 1 %}
                              <span class="icoStorm"></span>
                            {% elseif projects_weather[project.id][1][scenario.id].weatherState == 2 %}
                              <span class="icoRain"></span>
                            {% elseif projects_weather[project.id][1][scenario.id].weatherState == 3 %}
                              <span class="icoCloud"></span>
                            {% elseif projects_weather[project.id][1][scenario.id].weatherState == 4 %}
                              <span class="icoSun"></span>
                            {% elseif projects_weather[project.id][1][scenario.id].weatherState == 5 %}
                              <span class="icoUnknown"></span>
                            {% endif %}
                            {{ scenario_name }}
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                {% endif %}
              {% endfor %}
              <p class="pagination-centered">
                {% if nb_scenarios == 1 %}
                  <em>{{ 'mon_scenario_alone' | trans({}, 'messages') | raw }}</em>
                {% else %}
                  <em>{{ nb_scenarios }} {{ 'mon_scenario_number' | trans({}, 'messages') | raw }}</em>
                {% endif %}
              </p>
            {% else %}
              <p class="pagination-centered">
                <em>{{ 'mon_scenario_none' | trans({}, 'messages') | raw }}</em>
              </p>
            {% endif %}
          </div>
      {% if (nb_current_line % 3) == 0 %}
        </div> <!-- /ligne de 3 projets -->
      {% endif %}
    {% endfor %}

  </div> <!-- /container -->
{% endif %}

{% endblock %}