{% extends 'FFNMonBundle::layout.html.twig' %}
{% set nb_project = projects|length %}
{% block body %}
<!-- Example row of columns -->
<div class="row">
  <div class="span12 page-header">
    <h1>{{ 'mon_project_my_projects' | trans({}, 'messages') | raw }}</h1>
  </div>
  {% if nb_project > 0 %}
    {% for project in projects %}
      <div class="span4">
        <h2>{{project.name}}</h2>
        <p>{{project.description}}</p>
        <p><a class="btn" href="{{path('mon_project_home', { 'id': project.id })}}">{{ 'mon_view_details' | trans({}, 'messages') | raw }}</a></p>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}