{% extends 'FFNMonBundle::layout.html.twig' %}
{% import "FFNMonBundle:Common:macros.html.twig"  as macros  %}
{% import "FFNMonBundle:Page:homeMacros.html.twig" as Pmacros %}

{% set section = 'home' %}
{% set nb_project = projects | length %}

{% block body %}
  
  <!-- the main container -->
  <div class="container-fluid">
    <!-- start of header -->
    {% block homeHeader %}
        {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
        <div class="row-fluid show">
          <h1><small>{{ 'mon_project_my_projects' | trans }}</small></h1>
        </div>
    {% endblock %}
    <!-- end of header -->
    
    <!-- start of new project block -->
    {% block createnewproject %}
        <div class="row-fluid show">
          <div class="span12 pagination-centered blue-outline" >
            <b>&plus;</b>
            <a class="btn" href="{{ path("mon_project_add")}}">{{ 'mon_project_create' | trans }}</a>
          </div>
        </div>
    {% endblock %}
    <!-- end of new project block -->

    <!-- start of existing project listing -->
    {% block homeContent %}
      {% if nb_project > 0 %}
        {% set current_project = 0 %}
    
        {% for project in projects %}
          {% if (current_project % 3) == 0 %}
            <!-- new line of 3 projects (current project is {{ current_project }}) --> 
            <div class="row-fluid">
          {% endif %}
          
          <!-- start of project -->
          {{ Pmacros.projectblock(project) }}
          <!-- end of project -->
          {% set current_project = current_project + 1 %}
          {% if (current_project % 3) == 0 %}
            </div>
            <!-- end of the line of 3 projects --> 
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endblock %}
    <!-- end of existing project listing -->
    
  {% block homeModals %}
    {# project deletion #}
    <div id="myModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ 'mon_project_deletion_confirm' | trans({}, 'messages') | raw }}</h3>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" onclick="$('#myModal').modal('hide');">{{ 'mon_no' | trans({}, 'messages') | raw }}</a>
        <a href="{{path("mon_home")}}" id="button_submit_cancel" class="btn btn-primary">{{ 'mon_yes' | trans({}, 'messages') | raw }}</a>
      </div>
    </div>
  {% endblock %}
  </div>
  <!-- end of the main container -->
{% endblock %}