{% extends 'FFNMonBundle::layout.html.twig' %}

{% set section = '' %}
{% set nb_project = projects|length %}

{% block body %}
  <div class="row">

    <div class="span12 page-header">
      <h1>{{ 'mon_project_my_projects' | trans({}, 'messages') | raw }}</h1>
    </div>

    {% if nb_project > 0 %}
      {% for project in projects %}
        {% set nb_scenario = project.scenarios|length %}
        <div class="span4">
          <h2>{{project.name}}</h2>
          <p>{{project.description}}</p>
          <p class="pagination-centered"><span class="{{ random(['imgSun', 'imgCloud', 'imgRain', 'imgStorm']) }}"></span></p>
          <p class="pagination-centered">
            <a class="btn" href="{{path('mon_project_home', { 'id': project.id })}}">{{ 'mon_view_details' | trans({}, 'messages') | raw }}</a>
            <a class="btn" href="{{path('mon_project_edit', { 'id': project.id })}}">{{ 'mon_project_edit' | trans({}, 'messages') | raw }}</a>
          </p>
          {% if nb_scenario > 0 %}
            {% for scenario in project.scenarios %}
              <div class="row">
                <div class="span2">{{scenario.name}}</div>
                <div class="span1 offset1 pagination-right"><span class="{{ random(['icoSun', 'icoCloud', 'icoRain', 'icoStorm']) }}"></span></div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="span4 pagination-centered" style="vertical-align:middle;display: table-cell;">
      <a class="btn" href="{{ path("mon_project_add")}}">{{ 'mon_project_create' | trans({}, 'messages') | raw }}</a>
    </div>

  </div>
{% endblock %}