{% extends 'FFNMonBundle::layout.html.twig' %}
{% set nb_controls = controls|length %}
{% block body %}
<div class="container">
  {% include 'FFNMonBundle:Common:project_headerbar.html.twig' %}
  {% if nb_scenarios > 0 %}
  <table class="table table-striped">
    <caption>{{ 'mon_control_list' | trans() | raw()}}</caption>
    <thead>
      <tr>
        <th>{{'mon_identifier'| trans({}, 'messages') | raw }}</th>
        <th>{{'mon_name'| trans({}, 'messages') | raw }}</th>
        <th>{{'mon_actions'| trans({}, 'messages') | raw }}</th>
      </tr>
    </thead>
    <tbody>
      {% for control in controls %}
      <tr>
        <td>{{control.id}}</td>
        <td>{{control.name}}</td>
        <td>
          <a href="{{path('mon_control_add', {'id': scenario.id})}}">{{ 'mon_control_create' | trans() | raw()}}</a>
          <a href="{{path('mon_control_edit', {'id': control.id})}}">{{ 'mon_control_edit' | trans() | raw()}}</a>
          <a href="{{path('mon_control_delete', {'id': control.id})}}">{{ 'mon_control_delete' | trans() | raw()}}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


</div> <!-- /container -->
{% endblock %}