{% extends 'FFNMonBundle::layout.html.twig' %}
{% block body %}
<div class="container main_page top_50">
  <div class="row-fluid">
    <table class="table table-striped tablesorter" id="table_user_manage">
      <caption>{{ 'mon_user_list' | trans({}, 'messages') | raw }}</caption>
      <thead>
        <tr>
          <th class="header">#</th>
          <th class="header">{{ 'mon_username' | trans({}, 'messages') | raw }}</th>
          <th class="header">{{ 'mon_mail' | trans({}, 'messages') | raw }}</th>
          <th class="header">{{ 'mon_user_last_login' | trans({}, 'messages') | raw }}</th>
          <th class="header">{{ 'mon_user_active' | trans({}, 'messages') | raw }}</th>
          <th class="header">{{ 'mon_user_administration' | trans({}, 'messages') | raw }}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users%}
          {% if user.enabled == true %}
            {% set is_active = 'on' %}
            {% set statut_to_change = 'false' %}
          {% else %}
            {% set is_active = 'off' %}
            {% set statut_to_change = 'true' %}
          {% endif %}

          <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.lastlogin|date("Y:m:d H:i:s")}}</td>
            <td><div id="user_activ_{{user.id}}" class="alertRight {{is_active}}" onclick="manageUserActivation($(this), '{{user.id}}');"></div></td>
            <td>
              <p>
                <button class="btn btn-small" type="button" onclick="self.location.href='{{ path("mon_admin_user_edit", {'id' : user.id}) }}'">{{ 'mon_user_edit' | trans({}, 'messages') | raw }}</a></button>
                <button class="btn btn-small btn-inverse" type="button" onclick="showConfirmDeleteUser('{{ path("mon_admin_user_delete", {'id' : user.id}) }}', '{{ 'mon_user_confirm_delete' | trans({"%username%": user.username}, 'messages') | raw }}');">
                  {{ 'mon_user_delete' | trans({}, 'messages') | raw }}
                </button>
              </p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- end row-fluid -->
</div> <!-- /container -->
<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ 'mon_user_delete_user' | trans({}, 'messages') | raw }}</h3>
  </div>
  <div class="modal-body">
    <p id="p_username_to_delete"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" onclick="$('#myModal').modal('hide');">{{ 'mon_cancel' | trans({}, 'messages') | raw }}</a>
    <a href="{{path("mon_home")}}" id="button_submit_cancel_user" class="btn btn-primary">{{ 'mon_validate' | trans({}, 'messages') | raw }}</a>
  </div>
</div>
{% endblock %}