<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ path("mon_home") }}">
        {{ 'mon_title'|trans({}, 'messages') }}
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ 'mon_options' | trans({}, 'messages') | raw }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path("mon_project_add")}}">{{ 'mon_project_create' | trans({}, 'messages') | raw }}</a></li>
                {% if project is defined %}
                  <li><a href="{{ path('mon_project_edit', {'id': project.id, '_locale': app.request.get('_locale') })}}">{{'mon_project_edit'| trans({}, 'messages') | raw }}</a></li>
                  <li class="divider"></li>
                  <li><a href="{{path('mon_scenario_add', {'id': project.id, '_locale': app.request.get('_locale') })}}">{{'mon_scenario_create'| trans({}, 'messages') | raw }}</a></li>
                  {% if scenario is defined %}
                    <li><a href="{{path('mon_scenario_edit', {'id': scenario.id,'_locale': app.request.get('_locale') })}}">{{'mon_scenario_edit'| trans({}, 'messages') | raw }}</a></li>
                    <li class="divider"></li>
                    <li><a href="{{path('mon_control_add', {'id': scenario.id, '_locale': app.request.get('_locale') })}}">{{'mon_control_create'| trans({}, 'messages') | raw }}</a></li>
                  {% endif %}
                {% endif %}
              </ul>
            {% endif %}
          </li>
          {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'mon_menu_admin' | trans({}, 'messages') | raw }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class=""><a href="{{ path("mon_admin_user_add")}}">{{ 'mon_menu_admin_create_user' | trans({}, 'messages') | raw }}</a></li>
                <li class=""><a href="{{ path("mon_admin_user")}}">{{ 'mon_menu_admin_manage_users' | trans({}, 'messages') | raw }}</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
        <ul class="nav pull-right">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path("fos_user_security_logout")}}">{{ 'mon_logout' | trans({}, 'messages') | raw }}</a></li>
          {% else %}
            <li><a href="{{ path("fos_user_security_login")}}">{{ 'mon_login' | trans({}, 'messages') | raw }}</a></li>
            <li><a href="{{ path('mon_admin_user_add')}}">{{ 'mon_register' | trans({}, 'messages') | raw }}</a></li>
          {% endif %}
          <li><a href="{{ path('mon_faq',     { '_locale': app.request.locale } ) }}">{{ 'mon_faq' | trans({}, 'messages') | raw() }}</a></li>
          <li><a href="{{ path('mon_about',   { '_locale': app.request.locale } ) }}">{{ 'mon_about' | trans({}, 'messages') | raw() }}</a></li>
          <li><a href="{{ path('mon_contact', { '_locale': app.request.locale } ) }}">{{ 'mon_contact' | trans({}, 'messages') | raw() }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>