<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div>
      {% if section != 'project_add' %}
        <a href="{{path('mon_project_home', { 'id': project.id })}}" class="brand">{{project.name}}</a>
        {% if section == 'scenario' or section == 'control' %}
        <!--a href="{{path('mon_scenario_home', { 'id': scenario.id })}}" class="brand">{{scenario.name}}</a-->
        {% endif %}
      {% endif %}
      </div>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        {% if section != 'project_add' %}
          <ul class="nav">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Options<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('mon_project_edit', {'id': project.id, '_locale': app.request.get('_locale') })}}">{{'mon_project_edit'| trans({}, 'messages') | raw }}</a></li>
                <li class="divider"></li>
                <li><a href="{{path('mon_scenario_add', {'id': project.id, '_locale': app.request.get('_locale') })}}">{{'mon_scenario_create'| trans({}, 'messages') | raw }}</a></li>
                {% if section == 'scenario' or section == 'control' %}
                  <li><a href="{{path('mon_scenario_edit', {'id': scenario.id,'_locale': app.request.get('_locale') })}}">{{'mon_scenario_edit'| trans({}, 'messages') | raw }}</a></li>
                  <li class="divider"></li>
                  <li><a href="{{path('mon_control_add', {'id': scenario.id, '_locale': app.request.get('_locale') })}}">{{'mon_control_create'| trans({}, 'messages') | raw }}</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        {% endif %}
        <!--ul class="nav pull-right">
          <form action="" class="navbar-search pull-left">
            <input type="text" placeholder="Search" class="search-query span2">
          </form>
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul-->
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>