<ul class="breadcrumb">
  <li><a href="{{ path('mon_home') }}">{{ 'mon_home' | trans({}, 'messages') | raw }}</a>
  {% if project is defined %}
    <span class="divider">/</span><li><a href="{{path('mon_project_home', { 'id': project.id })}}" class="brand">{{ 'mon_project_wording' | trans({}, 'messages') | raw }} : {{project.name}}</a>
  {% endif %}
  {% if scenario is defined %}
    <span class="divider">/</span><li><a href="{{path('mon_scenario_home', { 'id': scenario.id })}}" class="brand">{{ 'mon_scenario_wording' | trans({}, 'messages') | raw }} : {{ scenario.name }}</a>
  {% endif %}
  {% if control is defined %}
    <span class="divider">/</span><li><a href="{{path('mon_control_home', { 'id': control.id })}}" class="brand">{{ 'mon_control_wording' | trans({}, 'messages') | raw }} : {{ control.name }}</a>
  {% endif %}
  </li>
</ul>
